<h1>Gráfica de Barras</h1>
<hr>

<div class="row">
    <div class="col">

        <div style="display: block">
            <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType">
            </canvas>
        </div>

        <button (click)="randomize()"
                class="btn btn-primary float-end">
            Actualizar
        </button>

    </div>
</div>

